node_modules/
.pnpm-store/
.next/
.next-build/
.next-dev/
next-env.d.ts
.env
.env.local
out/
.env.*.local
outputs/**
!outputs/.gitkeep
uploads/
data/**
!data/.gitkeep
data/*.sqlite
logs/
temp/
dist/
release/
desktop-runtime/
Windows安装包/
*.log
*.tsbuildinfo
.DS_Store
tmp/
